@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100..900&display=swap');
@import "tailwindcss";


:root {
  --background: #fffafc;
  --foreground: #171717;
}

html, body {
  font-family: "Montserrat", sans-serif;
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.text-neon-pink { color: #ff00ff; }
.border-neon-blue { border-color: #00eaff; }
